.headerBurger:active {
}

.nav__burger {
  width: 30px;
  height: 36px;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.burger__line {
  display: inline-block;
  width: 300%;
  height: 5px;
  background-color: white;
  margin-left: 20px;
}

.nav__menu {
  display: block;
  visibility: visible;
  padding: 40px 0;
  background-color: white;
  width: 10%;
  height: 1210px;
}

.menu__list {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.menu__item {
  padding: 5px 0;
  margin-bottom: 16px;
}

.menu__link {
  text-decoration: none;
  color: #777777;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
}
