.nav__burger {
  width: 30px;
  height: 36px;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__burger {
  cursor: pointer;
}

.burger__line {
  display: inline-block;
  width: 300%;
  height: 5px;
  background-color: white;
  margin-left: 20px;
}

.nav__menu {
  display: block;
  visibility: visible;
  padding: 40px 0;
  background-color: white;
  width: 15%;
  height: 1210px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  list-style-type: none;
}

.menu__item {
  padding: 5px 0;
  margin-bottom: 12px;
}

.menu__item_big {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu__link {
  text-decoration: none;
  color: #777777;
  font-weight: 400;
  font-size: 21pt;
  line-height: 24px;
}

.menu__link:hover {
  color: rgb(99, 99, 99);
}

.menu__link_small {
  text-decoration: none;
  color: #909090;
  font-weight: 400;
  font-size: 15pt;
  line-height: 24px;
}

.menu__link_small:hover {
  color: rgb(99, 99, 99);
}

.menu__link__contact {
  text-decoration: none;
  color: #909090;
  font-weight: 400;
  font-size: 18pt;
}

.menu__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  gap: 10px;
}

.menu__contact__link {
  text-align: left;
  text-decoration: none;
  color: #909090;
  font-weight: 400;
  font-size: 18pt;
}

.menu__contact__button {
  border-radius: 5px;
  border-color: #aeaeae;
  width: 220px;
  font-size: 18pt;
  text-align-last: left;
  color: #909090;
  padding: 8px 10px;
}

.menu__contact__button:hover {
  color: white;
  background: #aeaeae;
  transform: scale(1.05);
  cursor: pointer;
}
