.header {
  background-image: url(/public/img/headerback.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1210px;
  position: relative;
}

.header__logo {
  text-decoration: none;
}

.header__logo__img {
  width: 30%;
  position: absolute;
  right: 150px;
  bottom: 50px;
}

.header__links__box {
  padding-top: 30px;
  display: flex;
  justify-content: end;
  margin-right: 150px;
  gap: 65px;
}

.header__links {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 10px;
}

.header__link {
  text-decoration: none;
  color: rgb(200, 200, 200);
  font-size: 50px;
  font-family: 'bahnschrift';
}

.header__link:hover {
  color: rgb(99, 99, 99);
}

.header__link_small {
  font-size: 30px;
  text-decoration: none;
  color: rgb(200, 200, 200);
  font-family: 'bahnschrift';
}

.header__content {
  margin-right: 300px;
  margin-left: 300px;
}

.header__content__tittle {
  display: flex;
  align-items: baseline;
  color: rgb(200, 200, 200);
  gap: 10px;
  padding-bottom: 30px;
}

.header__content__tittle__text {
  font-size: 200px;
  line-height: 0px;
}

.header__content__tittle__text_small {
  font-size: 100px;
}

.header__gorline {
  border-top: 5px solid #e5e5e5;
  margin-bottom: 20px;
  margin-top: 20px;
}

.header__content__box {
  display: flex;
  justify-content: space-around;
}

.header__content__item {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: left;
}

.header__content__item__tittle {
  color: rgb(200, 200, 200);
  font-size: 66pt;
  line-height: 0%;
}

.header__content__item__text {
  color: rgb(200, 200, 200);
  font-size: 33pt;
  width: 15%;
}

.header__vertline {
  border-left: 5px solid #e5e5e5;
  padding: 40px 100px;
}
